{{!-- Patient Profile --}}
<form class="body">
    <label>Name: </label>
    <input type="text" class="form-control" placeholder="Enter patient's name here" id="name"><br>
    <label>Phone Number: </label>
    <input type="text" class="form-control" placeholder="Enter patient's phone number here" id="phone"><br>
    <label>City: </label>
    <input type="text" class="form-control" placeholder="Enter patient's address here" id="city"><br>
    <label>Email: </label>
    <input type="text" class="form-control" placeholder="Enter patient's email here" id="email"><br>
    <label>Health Card Number: </label>
    <input type="text" class="form-control" placeholder="Enter patient's healthcard number here" id="healthcard"><br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
