<div class="body center">
    <h2>Are you sure you want to delete {{patient}}?</h2>
    <form>
        <input type="radio" name="delete" value="true"><label> Yes</label>
        <input type="radio" name="delete" value="false"><label> No</label><br>
        <button type="submit" class="btn btn-secondary" value="submit">Submit</button>
    </form>
</div>