<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/doctor.js"></script>

<div id="doctor">
  <div class="container">
     <h2>Doctor</h2>

     <button style="font-size:24px">Sign In</button>
     
     <button style='font-size:24px'>Sign Up</button>


  </div>
</div>

