{{!-- Doctor - Sign Up --}}
<form class="body">
  
    <label>Name: </label>
    <input type="text" class="form-control" placeholder="Enter your name here" id="d-name"><br>

    <label>Speciality: </label>
    <input type="text" class="form-control" placeholder="Enter your speciality here" id="d-speciality"><br>

    <label>Location: </label>
    <input type="text" class="form-control" placeholder="Enter your city here" id="d-city"><br>
    
    <label>Medical Identification Number of Canada: </label>
    <input type="text" class="form-control" placeholder="Enter MINC here" id="d-minc"><br>
    
    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
