{{!-- Doctor - Sign Up --}}
<div class="body">
  <h2 class="center">Sign Up</h2>
  <p class="center">To sign up, please fill out the form below. If you are already registered with us, please click <a href="/doctorSignIn">here</a> to sign in.</p>
  <form>
  
      <label>Name: </label>
      <input type="text" class="form-control" placeholder="Enter your name here" id="d-name"><br>

      <label>Speciality: </label>
      <input type="text" class="form-control" placeholder="Enter your speciality here" id="d-speciality"><br>

      <label>Location: </label>
      <input type="text" class="form-control" placeholder="Enter your city here" id="d-city"><br>
      
      <label>Medical Identification Number of Canada: </label>
      <input type="text" class="form-control" placeholder="Enter MINC here" id="d-minc"><br>
      
      <button type="submit" class="btn btn-secondary">Submit</button>

    </form>
  </div>