<div class="body" id="doctorSignIn">
  


<div class="row">
    <div class="col-sm-6">
      <a href="/doctorSignIn">
        <button type="button" class="btn btn-secondary btn-lg btn-block">Sign in</button>
      </a>
    </div>
    <div class="col-sm-6">
      <a href="/doctorSignUp">
        <button type="button" class="btn btn-secondary btn-lg btn-block">Sign Up</button>
      </a>
    </div>
  </div>

</div>

