{{!-- First Page --}}
  <div class="body" id="index">

     <h2>Welcome To Health Tracker</h2>
     <p>This unique application is used to record accurate accounts of treatment adherence 
        and facilitate communication between physicians and patients. </p>
        <p>To begin, please select one of the following options </p>
     <hr>
     <h3>I am a ...</h2>
     <button style="font-size:24px" href="/doctor.handlebars">Doctor</button>
     <button style='font-size:24px'href="/patientSignIn.handlebars">Patient</button>

</div>

