{{!-- First Page --}}
<div class="body">
   <h2>I am a </h2>
   <div class="row">
      <div class="col-sm-6">
         <a href="/doctor">
            <button type="button" class="btn btn-secondary btn-lg btn-block">Doctor</button>
         </a>
      </div>
      <div class="col-sm-6">
         <a href="/patientSignIn">
            <button type="button" class="btn btn-secondary btn-lg btn-block">Patient</button>
         </a>
      </div>
   </div>

   
</div>