<div id="patientOptions">
  <div class="body">
     <h2>Welcome {{userFirstName}}</h2>

     <button style="font-size:24px">Update Diary</button>
     
     <button style='font-size:24px'>View Profile</button>
  </div>
</div>