<!DOCTYPE html>
<html>

<head> 
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Health Tracker</title>
</head>

<body>

<body class="bkgrd">
	
		<div id="header">
			<div class="container">
				<div class="row">
					<div class="col-md-2"><img id="hippologo" src="https://media.worldslastchance.com/images/2013/05/04/11022/caduceus-alone.png"></div>
					<div class="col-md-6"><h1 id="logo">Health Tracker</h1></div>
					<div class="col-md-2"><a class="navigation" href="">Our Mission</a></div>
					<div class="col-md-2"><a class="navigation" href="">About Us</a></div>
				</div>
			</div>
		</div>
	
	<div class="container">
    
		{{{ body }}}

	</div>
</body>

</html>
