{{!-- First Page --}}
<div class="body" id="about">

 <h2>About Us</h2> <br>
    <p>We are driven by a singular purpose. To change the doctor-patient relationship. The world is changing and the
        healthcare industry is long-overdue for an overhaul. Our goal is to make global, innovative technology that will
        transform and truly inspire the world of healthcare.
    </p>
    <p>Health Tracker is a web application focused on the future of healthcare for doctors and patients. We offer a
        simple, effortless and convenient platform that allows doctors to unchain themselves from the endless paperwork
        around the office while still taking great care of patients.
    </p>
    <p>The main feature currently in development is tracking of patient data (prescription and treatment progress,
        contact information. For the next update we would like to build real-time communication and scheduling
        capabilities between doctors and their patients.
    </p>

   
    <div class="row">
    <div class="col" id="potrait">
        <img src="./img/David.jpg" alt="Smiley face" height="200" width="200">
    </div>
    <div class="col" id="potrait">
        <img src="./img/Alexis.jpg" alt="Smiley face" height="200" width="200">
    </div>
    <div class="col" id="potrait">
        <img src="./img/Maria.png" alt="Smiley face" height="200" width="200">
    </div>
    <div class="col" id="potrait">
        <img src="./img/Quang.jpg" alt="Smiley face" height="200" width="200">
    </div>
</div>
</div>
