<div class="body">
    <h2 class="docProfTitle"> New Patient Created</h2>
    <p class="docProfTitle">The following information was entered to create a new patient:</p>
    <hr>
    <lable id="dp-name">Patient's Name: </lable>
    <br>
    <lable id="dp-phone">Patient's Phone: </lable>
    <br>
    <lable id="dp-city">Patient's City: </lable>
    <br>
    <lable id="dp-email">Patient's Email: </lable>
    <br>
    <lable id="dp-healthcard">Patient's Healthcard Number: </lable>
    <br>

    <div id="important">
        <p class="warning">DO NOT CLOSE THIS WINDOW UNTIL YOU HAVE COLLECTED THE FOLLOWING INFORMATION</p>
        <p class="warning">The physician is required to provide the patient with their log-in information. 
            The patient can log in with their email address and the password privided below. </p><br>
        <lable id="dp-password">Patient's Password: </lable>
    </div>

    <a href="/doctor/:id/profile"><button class="btn btn-secondary">Back to My Profile</button></a>

</div>
<script type="text/javascript" src="../public/js/doctorCreatePatient.js"></script>