<div class="body">
    <lable id="dp-name">Patient's Name: </lable>
    <lable id="dp-phone">Patient's Phone: </lable>
    <lable id="dp-email">Patient's Email: </lable>
    <lable id="dp-healthcard">Patient's Healthcard Number: </lable>

    <div id="important">
        <p class="warning">DO NOT CLOSE THIS WINDOW UNTIL YOU HAVE COLLECTED THE FOLLOWING INFORMATION</p>
        <p class="warning">The physician is required to provide the patient with their log-in information. 
            The patient can log in with their email address and the password privided below. </p><br>
        <lable id="dp-password">Patient's Password: </lable>
    </div>

    <form>
        <label>Do you confirm that the above information is true? </label><br>
        <input type="radio" name="confirmpatient" value="true"><label> Yes</label>
        <input type="radio" name="confirmpatient" value="false"><label> No</label>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{{!---Javascript--------------------------------------------------------------------------}}
<script type="text/javascript">
var newPatient={
    name: $("p-name").val().trim(),
    phone: $("p-phone").val().trim(),
    email: $("p-email").val().trim(),
    healthcard: $("p-healthcard").val().trim();
    password: Math.floor(Math.random()*10);
};

var name=$("<p>").val(newPatient.name);
$("#dp-name").append(name);

var phone=$("<p>").val(newPatient.phone);
$("#dp-phone").append(phone);

var email=$("<p>").val(newPatient.email);
$("#dp-email").append(email);

var healthcard=$("<p>").val(newPatient.healthcard);
$("#dp-healthcard").append(healthcard);

var password=$("<p>").val(newPatient.password);
$("#dp-password").append(password);

</script>