
<div class="body">
  <h2 class="center">Contact Us</h2>
  <p class="center">To contact us, please fill out the form below.</p>
  <form>
  
      <label>Your Name: </label>
      <input type="text" class="form-control" placeholder="Enter your name here"><br>

      <label>Your email: </label>
      <input type="text" class="form-control" placeholder="Enter your email address here"><br>

      <label>Your message: </label>
           
      <textarea class="form-control" aria-label="With textarea"></textarea><br>
      
      <button type="submit" class="btn btn-secondary">Send</button>

    </form>

    
  </div>


  