{{!-- Create Patient --}}
<form class="body">
  <h2>Basic Profile</h2>
  <p id="err"></p>

    <label>Name: </label>
    <input type="text" class="form-control" placeholder="Enter patient's name here" id="p-name"><br>
    
    <label>Phone Number: </label>
    <input type="text" class="form-control" placeholder="Enter patient's phone number here" id="p-phone"><br>
    
    <label>Email: </label>
    <input type="text" class="form-control" placeholder="Enter patient's email here" id="p-email"><br>

    <label>Health Card Number: </label>
    <input type="text" class="form-control" placeholder="Enter patient's healthcard number here" id="p-healthcard"><br>

    <label>Please check the box if you confirm this information:</label>
    <input type="checkbox" value="{{doctor_id}}"><label> I confirm that this information is true</label>
    
    <button type="submit" class="btn btn-primary" id="create-patient">Submit</button>
  
  </form>
  <script type="text/javascript" src="../public/js/doctorCreatePatient.js"

{{!-- Notes for Alexis 
-> Don't do ajax call for this page! Submit for this page goes to confirmPatient.handlebars!
--}}
