<div class="body center">
    <h1 class="docProfTitle">Delete a Patient</h1>
    <hr>
    <form>
        <label>Please select the patient you would like to delete: </label>
        {{#each patient}}
            <input type="radio" name="patient" value={{patient.id}}>
            <label> {{patient.fullname}}</label>
        {{/each}}
        <br>
        <button type="submit" class="btn btn-secondary" value="{{doc_id}}" id="deletePatient">DELETE THIS PATIENT</button>
    </form>
</div>
<script type="text/javascript" src="../public/js/doctorDeletePatient.js"></script>