<div class="body" id="doctor">
  
<h2>You Are Using Health Tracker for Doctors</h2>
<hr>
<p>Please select one of the following options:</p>
<div class="row">
  
    <div class="col-sm-6">
      <a href="/doctorSignIn">
        <button type="button" class="btn btn-secondary btn-lg btn-block">Sign in</button>
      </a>
    </div>
    <div class="col-sm-6">
      <a href="/doctorSignUp">
        <button type="button" class="btn btn-secondary btn-lg btn-block">Sign Up</button>
      </a>
    </div>
  </div>
  <label>If you are not a doctor, please click <a href="/patient/signin">here</a> to our patient site.</label>

</div>

