{{!-- Patient - sign in --}}

<div class="body">
    <h2 class="center">Sign In</h2>
    <p class="center">Enter your email and password to sign in as a patient.</p>
    <hr>
<form>
    <div class="form-group">
        <label for="patientEmail">Email address</label>
        <input type="email" class="form-control" id="patientEmail" aria-describedby="emailHelp"
            placeholder="Enter email">

    </div>
    <div class="form-group">
        <label for="patientPassword">Password</label>
        <input type="password" class="form-control" id="patientPassword" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-secondary">Submit</button>
</form>

</div>