<div class="body">
    <h1 class="docProfTitle">Prescription</h1>

    <h2>Patients: {{name}}</h2>


    <form>

        <label>Drug: </label>
        <input type="text" class="form-control" placeholder="Drug's name"><br>

        <label>Frequency: </label>
        <input type="text" class="form-control" placeholder="Doseage/frequency"><br>

        <button type="submit" class="btn btn-secondary">Submit</button>

    </form>