<div class="body">
    <h1 class="docProfTitle">Prescription</h1>
    <h2>Add Prescription for {{name}}</h2>
    <form>
        <label>Drug Name: </label>
        <input type="text" class="form-control" placeholder="Please enter the name of drug here."><br>
        <label>Frequency (per day): </label>
        <input type="text" class="form-control" placeholder="Please enter number of doses patient must take per day"><br>
        <button type="submit" class="btn btn-secondary" id="submitPrescription">Submit</button>
    </form>