/* Main */

/* Quang's added */

body {
  background-color: rgb(2, 125, 129);
  height: 100%;
  margin: 0;
}

#logo {
  position: relative
}
.container {
  background-color: rgb(2, 125, 129);
  height: 100%;
  padding-bottom: 40px
  /*background: url("../img/bg.png");*/

}
#header{
  background: rgb(85, 226, 19);
  height: 75px;
  padding: 5px;
  border-bottom: 5px solid #0AA7E4;
  opacity:1.0;
}

.footer {
  height: 50px;
  margin-top: 80px;
  padding-top: 10px;
  text-align: center;
  color: #f5f6de;
  border-top-color: #f5f6de;
  border-top-style: ridge;
  border-width: 1px;
}

h1 {
  color: #f5f6de;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 3em;
  text-align: center
}

h2 {
  color: #f5f6de;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center
}

.row {
  padding: 20px 0 20px 0
}

.form-group, .col {
  color: #f5f6de;
  font-size: 1.5em;
  color:#0AA7E4;
}
#hippologo{
  height: 60px;
}
.navigation{
  position: fixed;
  padding-top: 20px;
  font-size: 20px;
  text-align: right;
  color: #0AA7E4;
}
.body {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;
  background: #FFF;
  border: 5px solid #0AA7E4;
  opacity:1.0;
}
.title{
  color: #0AA7E4;
}

.nav {
  border-bottom-style: ridge;
  border-width: 1px;
  border-color: #f5f6de;
}

.nav-link {
  color: #f5f6de;
  font-size: 1.2em;
  text-align: end
}


/* End of Quang's */

/* Index */
#index{
  text-align: center;
}

/* ___DOCTOR__SIDE___ */

/* Doctor Sign Up */
label {
  color: #f5f6de
}
/* Doctor Sign In */

/* Create Patient */

/* Confirm Patient */

/* Doctor Profile */
.patientBtn{
  width: 100%;
}

/* Delete Patient */

/* Doctor View Patient Profile */
.responseForm{
  border: 3px solid #0AA7E4;
}

/* ___PATIENT__SIDE___ */

/* Patient Sign In */

/* Patient Options */
#patientOptions{
  text-align: center;
}

/* Patient Diary */

/* Patient Profile */

